@page "/"

<PageTitle>Index</PageTitle>

<h1>YendisFish (yendy)</h1>

<div>
    <td>
        <div class="about-me">
            <p class="abt-header">Pronouns: He/They</p>
            <p class="abt-header">About Me: </p>
            <p>I'm a 17 y/o high school junior who enjoys programming and computer science in general. I have experience with a number of things in the IT field mainly including C#, and SQL.</p>
        </div>

        <tr>
            <p class="projects-header">My projects (<a href="https://github.com/YendisFish/">My github</a>)</p>


            <div class="project-object">
                <p class="project-name">SimpleLibraryProject</p>
                <a href="https://github.com/YendisFish/SimpleLibraryProject">Project Link</a>

                <br>

                <p class="project-desc">Simple library written in C# with functions that I've needed often</p>
                <img class="project-img" src="/images/slp.png">
            </div>

            <br>

            <div class="project-object">
                <p class="project-name">Mcaw</p>
                <a href="https://github.com/YendisFish/Mcaw">Project Link</a>

                <br>

                <p class="project-desc">Very simple shell written in C#</p>
                <img class="project-img" src="/images/Mcaw.png">
            </div>
        </tr>
    </td>
</div>

<br>

<div>
    <h5>Experience:</h5>

    <div class="project-object">
        <p class="project-name">C#</p>
        <p class="exp-text">I have around 1 year of experience with C#. I learned it at the stats company I'm currently employed at and just fell in love with the language. C# happens to be the language I use most often and have the most experience in. I've written libraries, API's, shells, and done web development with it</p>
    </div>

    <br>

    <div class="project-object">
        <p class="project-name">SQL</p>
        <p class="exp-text">I've used wrappers to interact with SQL. Mainly to do simple projects -nothing big-. I can use it with backend web development, and applications</p>
    </div>

    <br>

    <div class="project-object">
        <p class="project-name">Docker</p>
        <p class="exp-text">I've played around with Docker on a simple scale. I've mainly used it for containerizing web applications and server processes written in C#.</p>
    </div>

    <br>

    <div class="project-object">
        <p class="project-name">C</p>
        <p class="exp-text">I'm currently learning C and can write very simple programs. I'm always up for a simple challenge in the language.</p>
    </div>

    <br>

    <div class="project-object">
        <p class="project-name">Python</p>
        <p class="exp-text">I have some experience with sockets in python. I can code in the language but do not enjoy it. I've used it mainly for implementing scripts.</p>
    </div>
</div>

<br>